<h1>Posts#show</h1>


        <tr>
          <td>
          <%= link_to user_path(@post.user.id) do %>
          <%= image_tag @post.user.get_profile_image(100,100) %>
          <% end %>
         </td>
         <td>
          <%= @post.animal_name %>
         </td>
         <td>
           <%= @post.caption %>
          </td>
        </tr>



      <%= link_to "削除", post_path(@post), method: :delete %>

