<h1>投稿詳細</h1>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'users/userinfo', user: @user %>
      <%#= render 'books/newbook', book: @book_new %>
    </div>

      <div class="col-md-8 offset-md-1">
        <h2>Post detail</h2>
        <table class="table">
          <tbody>

          <tr>
          <td>
          <%= link_to user_path(@post.user.id) do %>
          <%= image_tag @post.user.get_profile_image(100,100) %>
          <% end %>
         </td>
         <td>
          <%= @post.animal_name %>
         </td>
         <td>
           <%= @post.caption %>
          </td>
          <td>
            <% if @user == current_user %>
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-primary" %>
              <%= link_to "削除", post_path(@post), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>